body {
    background-color: #FFCC00;
    padding: 20px;
    margin: 0;
  }
  h1, h2, p, ul, li {
    font-family: sans-serif;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: #111;
    padding: 0;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
    background-color: #FFF;
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }

  #root{

  display: flex;
  justify-content: center;
}

.container{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 5rem;
}
.icon{
  align-items: center;
  padding: 2rem;
}
.icon:hover{
  outline-color: #000000;
  outline-style: solid;
}

.container-main{
  display: flex;
  flex-direction: row;
  padding: 5rem;
  justify-content: center;
}
.TopContainer{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
